* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.image {
  width: 60rem;
  height: 60rem;
  display: flex;
  gap: 0 1rem;
  align-items: center;
  transform: rotateZ(30deg);
}

.img-part {
  flex-grow: 1;
  height: 100%;
  background-image: url(images/bg-1.jpg);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-attachment: fixed;
  border-radius: 10rem;
  position: relative;
  overflow: hidden;
}

.img-part:nth-child(even) {
  background-position-y: 60rem;
  animation: bgAnimEven 10s 1s forwards infinite;
}

@keyframes bgAnimEven {
  0% {
    background-position-y: 60rem;
  }
  5%,
  95% {
    background-position-y: 50%;
  }
  100% {
    background-position-y: 60rem;
  }
}

.img-part:nth-child(odd) {
  background-position-y: -60rem;
  animation: bgAnimOdd 10s 1s forwards infinite;
}

@keyframes bgAnimOdd {
  0% {
    background-position-y: -60rem;
  }
  5%,
  95% {
    background-position-y: 50%;
  }
  100% {
    background-position-y: -60rem;
  }
}

.img-part::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.img-part:nth-child(even)::before {
  background-color: #ebe1d5;
  animation: beforeAnimEven 10s 1s forwards infinite;
}

@keyframes beforeAnimEven {
  0% {
    top: 0;
  }
  5%,
  95% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

.img-part:nth-child(odd)::before {
  background-color: #7fdada;
  animation: beforeAnimOdd 10s 1s forwards infinite;
}

@keyframes beforeAnimOdd {
  0% {
    top: 0;
  }
  5%,
  95% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

.img-part-1 {
  height: 60%;
  background-position-x: 0;
}

.img-part-2 {
  height: 100%;
  background-position-x: -15rem;
}

.img-part-3 {
  height: 80%;
  background-position-x: -30rem;
}

.img-part-4 {
  height: 90%;
  background-position-x: -45rem;
}
